<h1>Edit To-Do</h1>

<hr>

<form action="/edittodo/{{todo.id}}" method="post">
  <input type="text" name="item" value="{{todo.title}}" size="80"/>
  <input type="submit" name="" value="Edit">
</form>
