<h1>To Do List</h1>

<form action="/add" method="post">
  <input type="text" name="item" value="" size="80" placeholder="What do you need to do today?"/>
  <input type="submit" name="" value="Submit">
</form>

<hr>

{{#each todos}}
<section>
  <form action="/complete/{{id}}" method="post">
    <button type="submit" name="removeButton" value="{{title}}"> Mark Complete </button>
      {{title}}
  </form>
</section>
{{/each}}

<hr>

{{#each finished}}
{{todo}}<br>
{{/each}}
